/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.background{
  background: linear-gradient(180deg, rgba(83, 105, 204, 0.699), rgba(41, 126, 165, 0.658)),url("../src/image/moneytransferbg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.bottom-text{
  color: #fff;
  font-size: 20px;
  font-weight: 600
}
.bottom-link{
  color: #f3b10a;
  font-size: 22px;
  text-decoration: none;
  font-style: italic;
  transition: 0.4s all ease;
}
.bottom-link:hover{
  color: #d4a93c;
}
.Button{
  margin-top: 20px;
}